<!--
<div class="row">
	<div class="col-12">
		<div class="content-header">Formulario para crear Asignatura</div>
	</div>
</div>

<section id="basic-input">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Crear Asignatura</h4>
				</div>
				<div class="card-content">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<fieldset class="form-group">
									<label for="basicInput">Nombre de la asignatura</label>
									<input type="text" class="form-control" id="nombreMateria"  placeholder="Nombre estudiante">
								</fieldset>

								<fieldset class="form-group">
									<label for="helpInputTop">Codigo de la asignatura</label>
									
									<input type="text" class="form-control" id="codigo" placeholder="Codigo de la materia">
								</fieldset>

								<fieldset class="form-group">
									<label for="helperText">Docente</label>
									<input type="text" id="docente" class="form-control" placeholder="Docente de la materia">
									
								</fieldset>
							</div>
							
                                <button class="btn btn-primary" (click)="crearEstudiante()" type="submit">Crear Estudiante</button>
                                
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   
    <div class="row">
        <button class="primary" (click)="crearEstudiante()"> Crear Estudiante</button>
    </div>
    

    
</section>
-->
