<!--Carousel Starts-->
<section id="carousel">
  <div class="row  text-left">
    <div class="col-sm-12">
      <div class="content-header">Tipos de grafos y el metodo mas corto de Dijkstra</div>
      <p class="content-sub-header">Explicacion con imagenes del metodo mas corto segundo Dijkstra y 
        los tipos de grafos que hay
      </p>
    </div>
  </div>
  <div class="row  text-left">
    <!--Basic Carousel Starts-->
    <div class="col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Dijkstra el camino mas corto</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/1.png" alt="Random first slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-1"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/3.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/4.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/6.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/7.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/9.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/10.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/11.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/12.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/13.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/caminomascorto/14.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3 class="ff-serif text-uppercase"></h3>
                  <p class="mb-0"></p>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
    <!--Basic Carousel Ends-->

    <!--Global configuration of carousels Starts-->
    <div class="col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Tipos de grafo</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="assets/img/tiposdegrafos/1.png" alt="Random first slide">
                <div class="carousel-caption">
                  <h3></h3>
                  <p></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/tiposdegrafos/2.png" alt="Random second slide">
                <div class="carousel-caption">
                  <h3></h3>
                  <p></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/tiposdegrafos/3.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3></h3>
                  <p></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/tiposdegrafos/4.png" alt="Random third slide">
                <div class="carousel-caption">
                  <h3></h3>
                  <p></p>
                </div>
              </ng-template>
            </ngb-carousel>

          </div>
        </div>
      </div>
    </div>
    <!--Global configuration of carousels Starts-->

    <!--
    <div class="col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Basic Code</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

            <pre class="language-typescript overflow-hidden text-left">
              <code class="language-typescript">
                import &#123;Component&#125; from '@angular/core';
                @Component(&#123;
                  selector: 'ngbd-carousel-basic',
                  templateUrl: './carousel-basic.html'
                &#125;)
                export class NgbdCarouselBasic &#123;
                &#125;</code>
          </pre>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Configuration Code</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <pre class="language-typescript text-left">
<code class="language-typescript">
  import &#123;Component&#125; from '@angular/core';
  import &#123;NgbCarouselConfig&#125; from '@ng-bootstrap/ng-bootstrap';

  @Component(&#123;
    selector: 'ngbd-carousel-config',
    templateUrl: './carousel-config.html',
    providers: [NgbCarouselConfig] // add NgbCarouselConfig to the component providers
  &#125;)
  export class NgbdCarouselConfig &#123;
    constructor(config: NgbCarouselConfig) &#123;

      config.interval = 10000;
      config.wrap = false;
      config.keyboard = false;
      config.pauseOnHover = false;
    &#125;
  &#125;</code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  -->

  </div>
</section>
<!--Carousel Ends-->
