<div class="row">
  <div class="col-12">
    <div class="content-header">Proyecto Programacion 4</div>
    
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Introduccion</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <h4 class="card-title">•Temas De aprendizaje</h4>
            <p>•Algoritmo de Dijkstra   </p>
            <p>  •Grafos</p>
            <p>•Implementacion de metodos POST,GET,DELETE</p>
            <p>•Patrones de Diseño</p>
            <!--
            <p></p>
            <h6 class="text-bold-600">AngularJS veteran</h6>
            <p>If you come from AngularJS and want to dig straight in the new version, you may want to take a look at
              the <a href="https://angular.io/guide/ajs-quick-reference">AngularJS quick reference</a> </p>
            <h6 class="text-bold-600">Cheatsheet</h6>
            <p>Until you know the full Angular API by heart, you may want to keep this <a
                href="https://angular.io/guide/cheatsheet">cheatsheet</a> that resumes the syntax and features on a
              single page at hand.</p>
            <h6 class="text-bold-600">Style guide</h6>
            <p>This project follows the standard <a href="https://angular.io/styleguide">Angular style guide</a>.</p>
            <p>More than just coding rules, this style guide also gives advices and best practices for a good
              application architecture and is an **essential reading** for starters. Reading deeper, you can even find
              many explanations for some design choices of the framework.</p>
            <h6 class="text-bold-600">Going deeper</h6>
            <p>Even though they are not mandatory, Angular was designed for the use of design patterns you may not be
              accustomed to, like reactive programming, unidirectional data flow and centralized state management.</p>
            <p>These concepts are difficult to resume in a few words, and despite being tightly related to each other
              they concern specific parts of an application flow, each being quite deep to learn on its own.</p>
            <p>You will essentially find here a list of good starting points to learn more on these subjects.</p>
          </div>
        </div>
      </div>
    </div>
    -->
    <!--/ Kick start -->
  </div>
</div>
