<section>
    <div >
     <ngx-datatable [rows]="asignaturas" rowHeight="auto"
     class="material core-bootstrap" [limit]="10"
     [columnMode]="ColumnMode.standard" [headerHeight]="50"
     [footerHeight]="50" [scrollbarH]="true">
    
     <ngx-datatable-column name="Nombre Asignatura" prop="nombreMateria" [width]="250"></ngx-datatable-column>
     <ngx-datatable-column name="Codigo" prop="codigo" [width]="100"></ngx-datatable-column>
     <ngx-datatable-column name="Docente" prop="docente" [width]="250"></ngx-datatable-column>
    
    
    </ngx-datatable>
    </div>
    
   
    
    </section>

    <div class="row">
        <div class="col-12">
            <div class="content-header">Formulario para crear Asignatura</div>
        </div>
    </div>
    <!-- Basic Inputs start -->
    <section id="basic-input">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Crear Asignatura</h4>
                    </div>

                    <form [formGroup]="AsignaturaForm">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset class="form-group">
                                        <label for="basicInput">Nombre de la asignatura</label>
                                        <input type="text" class="form-control" formControlName="nombreAsignatura" id="nombreAsignatura"  placeholder="Nombre Asignatra">
                                    </fieldset>
    

                                    
                                    <fieldset class="form-group">
                                        <label for="helpInputTop">Codigo de la asignatura</label>
                                        
                                        <input type="text" class="form-control" formControlName="codigoAsignatura" id="codigoAsignatura" placeholder="Codigo de la Asignatra">
                                    </fieldset>
    
                                    <fieldset class="form-group">
                                        <label for="helperText">Docente</label>
                                        <input type="text" formControlName="docenteAsignatura" id="docenteAsignatura" class="form-control" placeholder="Docente de la Asignatra">
                                        
                                    </fieldset>
                                    

                                    <button class="btn btn-primary" (click)="crearAsignatura()" type="submit">Crear Asignatura</button>
                                </div>
                                
                                   
                                    
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
       <!--
        <div class="row">
            <button class="primary" (click)="crearEstudiante()"> Crear Estudiante</button>
        </div>
        
    -->
        
    </section>





    <div class="row">
        <div class="col-12">
            <div class="content-header">Formulario para eliminar Asignatura</div>
        </div>
    </div>
    <!-- Basic Inputs start -->
    <section id="basic-input">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Eliminar Asignatura</h4>
                    </div>

                    <form [formGroup]="AsignaturaForm">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    
    
                                    <fieldset class="form-group">
                                        <label for="helpInputTop">Codigo de la asignatura a eliminar</label>
                                        
                                        <input type="text" class="form-control" formControlName="codigoAsignatura" id="codigoAsignatura" placeholder="Codigo de la Asignatra">
                                    </fieldset>
    
                                 

                                    <button class="btn btn-primary" (click)="eliminarAsignatura()" type="submit">Eliminar Asignatura</button>
                                </div>
                                
                                   
                                    
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
       <!--
        <div class="row">
            <button class="primary" (click)="crearEstudiante()"> Crear Estudiante</button>
        </div>
        
    -->
        
    </section>
    
    